HF_TOKEN=

API_KEY=
BASE_URL=
QWEN_TEXT_BASE_URL=
QWEN_VL_BASE_URL=

QWEN_VL_235_BASE_URL=
API_KEY_CHAT=

COMPLETIONS_PATHNAME=/v1/chat/completions
COMPLETIONS_PATHNAME_2=/openai/chat/completions
LLM_NAME=

HOST=0.0.0.0
PORT=8001
FRONTEND_HOST=frontend

CACHE_DIR=